/* The default values */


body {
    background-image: url('../images/background.png');
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


/* LEARN WEB DEVELOPMENT */


header {
    background-color: rgba(54, 54, 54, 0.3);
    border-bottom: 2px solid #333;
    text-align: center;
    padding: 20px;
}

header a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px rgb(217, 138, 0);
    text-shadow: 0px 0px 5px #8b7500; 
}

header h1 {
    margin: 0;
}


/* Navigation */


.nav-list {
    margin: 1rem 10rem 0rem 10rem;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: rgba(54, 54, 54, 0.25);
}

nav {
    font-size: 125%;
    display: flex;
    justify-content: center;
}

nav ul {
    padding: 0;

}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px rgb(217, 138, 0);
    text-shadow: 0px 0px 5px #8b7500;
    font-weight: bold; 
}

#HOME, #LEARN, #CONTACT {
    border-bottom: 1px solid #ffffffa8;
    border-bottom-style: dashed;
    padding-bottom: 4px;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #8b76003e;
    }
    50% {
        text-shadow: 0 0 15px #d8b80080;
      }
    100% {
        text-shadow: 0 0 20px #d2b300;
        
    }
  }

a:hover {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(217, 138, 0);
    text-shadow: 0 0 20px #d2b300;
    font-weight: bold;
    animation: glow 0.3s ease-out;
}

nav ul li a:active {
    transition: font-size 0.3s ease;
    font-size: 105%;
}



/* Main */

.main {
    margin: 1rem 10rem 0rem 10rem;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: rgba(35, 35, 35, 0.837);
}

h2 {
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 0px 0px 1px #8b7500; 
}

p {
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 0px 0px 1px #8b7500; 
}

h3 {
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 0px 0px 1px #8b7500; 
}

.syllabus {
    margin: auto;
    margin-bottom: 50px;
}

th {
    padding: 1rem 3rem 1rem 3rem;
    color: white;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: rgba(54, 54, 54, 0.25);
}

td {
    padding-left: 10px;
    color: gray;
}

.highlightGreen {
    color:lightseagreen;
    text-shadow: none;
}

#bottomLink {
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 5px #8b7500; 
}

#bottomLink:hover {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0px rgb(217, 138, 0);
    text-shadow: 0 0 20px #d2b300;
    font-weight: bold;
    animation: glow 0.3s ease-out;
}
